/* Styles for screens with a minimum width of 600px */
@media screen and (min-width: 600px) {
  #desktop-nav {
    display: flex;
  }
  #hamburger-nav {
    display: none;
  }
  .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 80%;
  }

  .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  }

  #skills {
    margin-top: 5rem;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
  }
  .skills-sub-title {
    text-align: center;
  }
  .skills-details-container {
    display: flex;
    flex-direction: column;
  }
  .skills-article-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 5px; /* Fix: Add appropriate unit */
  }
  .projets-containers {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 5px;
  }
  #experience {
    /* Add specific styles for the experience section if needed */
  }
  /* Other styles for larger screens */
}

/* Styles for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
  .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
  }

  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  /* Other styles for smaller screens */
}
